@use "_color";
@use "_common";

.backdrop {
  width: 32vw;
  height: 82vh;
}

.filterContainer {
  @include common.flexRow;
  justify-content: space-evenly;
}

.filter {
  cursor: pointer;
  padding: 0.6rem;
  margin-right: 5rem;
  font-size: 16px;
}

.focusBottom {
  color: color.$MAINCOLOR;
  border-bottom: 4px solid color.$MAINCOLOR;
}