html,
body {
  padding: 0;
  margin: 0;
  font-family: "LINE Seed Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "LINE Seed Sans KR";
  src: url("../public/fonts/lineSeedSansKR/LINESeedSansKR-Rg.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans KR";
  src: url("../public/fonts/lineSeedSansKR/LINESeedSansKR-Bd.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed Sans KR";
  src: url("../public/fonts/lineSeedSansKR/LINESeedSansKR-Th.woff2");
  font-weight: 300;
  font-style: normal;
}
