@use "common";
.container {
  @include common.flexRow;
  padding-inline: 2rem;
  overflow: auto;
  padding-bottom: 2rem;
}

.user {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
