@use "common";
@use "color";

.container {
  @include common.flexCol;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  background-color: color.$SUBCOLOR;
  height: 7.7rem;
  width: 100%;
}

.exit {
  position: absolute;
  right: 2.8rem;
  top: 2rem;
  cursor: pointer;
}

.welcome {
  padding-block: 2rem;
  font-size: 30px;
}

.gitLogin {
  cursor: pointer;
}

.loginText {
  font-size: 20px;
}
