.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 40rem;
  margin-bottom: 3rem;
}
