@use "color";

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 10rem;
  padding: 3% 0;
  margin: 0 auto;
  width: 110rem;
  padding: 0;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110rem;
}

.createQuestion {
  width: 60rem;
  height: 12rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  border: 1px solid color.$GRAY;
  border-radius: 20px;
  margin-top: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.submitButton {
  border: none;
  outline: none;
  width: 12.6rem;
  height: 3.2rem;
  background-color: color.$MAINCOLOR;
  border-radius: 20px;
  margin-left: 2rem;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  filter: brightness(80%);
}

.textBox {
  width: 40rem;
  height: 10rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 20px;
  padding-block: 1rem;
}
