@use "_common";
@use "_color";
.outContainer {
  overflow-y: scroll;
  width: 55rem;
  height: 34rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  border: 1px solid color.$GRAY;
  border-radius: 20px;
  &::-webkit-scrollbar-track{
    background-color:none;
  }
}

.container {
  @include common.flexRow;
  align-items: center;
  margin-top: 1.3rem;
}
.text {
  font-size: 16px;
  margin-left: 1.1rem;
  padding-block: 0.7rem;
}

.textFocus {
  background-color: color.$SUBCOLOR;
}

.inputContainer {
  background-color: color.$SUBCOLOR;
  outline: none;
  border: none;
  width: 45rem;
  height: 17rem;
  margin-left: 4rem;
  margin-block: 2rem;
  padding-right: 1rem;
  display: none;
  font-family: "LINE Seed Sans KR", monospace;
  font-size: 14px;
}

.show {
  display: flex;
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 3rem;
}

.textContainer:hover {
  background-color: color.$SUBCOLOR;
}
