@use "_common";
@use "_color";

.background {
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  //padding-left: 1rem;
}

.layout {
  position: absolute;
  display: flex;
  column-gap: 3vh;
  padding-right: 1rem;
}

.videoContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  //background-color: #333333;
}

.videos {
  width: 20vw;
  height: 40vh;
  background-color: #333333;
  --webkit-transform: rotateY(180deg);
}

.routerButtonContainer {
  padding: 1rem;
  position: absolute;
  right: 1rem;
}

.feedbackBtn {
  background-color: mediumaquamarine;
  color: color.$SUBCOLOR;
  border: none;
  padding: 1.5rem;
  font-size: 18px;
  border-radius: 3rem;
  cursor: pointer;
}

.exitBtn {
  background-color: salmon;
  color: color.$SUBCOLOR;
  border: none;
  padding: 1.5rem;
  font-size: 18px;
  margin-left: 2rem;
  border-radius: 3rem;
  cursor: pointer;
}

.utilContainer {
  max-width: 32vw;
  max-height: 88vh;
  padding-right: 1rem;
}

.resumeWrapper {
  overflow-y: auto;
  width: 32vw;
  height: 30vh;
  padding-block: 2rem;
  padding-inline: 2rem;
  border: 1px solid color.$GRAY;
  border-radius: 20px;
  padding-right: 1rem;
  /* 스크롤바 설정*/
  &::-webkit-scrollbar {
    /*  스크롤바 막대 너비 설정 */
    width: 6px;
  }

  /* 스크롤바 막대 설정*/
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 높이 설정    */
    height: 5rem;
    background-color: color.$GRAY;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(226, 226, 226, 0);
  }
}

.resumeWrapper::-webkit-scrollbar-track {
  background-color: none;
}

.questionWrapper {
  overflow-y: auto;
  width: 32vw;
  height: 46vh;
  margin-top: 2vh;
  padding-block: 2rem;
  padding-inline: 2rem;
  border: 1px solid color.$GRAY;
  border-radius: 20px;
  padding-right: 1rem;
  /* 스크롤바 설정*/
  &::-webkit-scrollbar {
    /*  스크롤바 막대 너비 설정 */
    width: 6px;
  }

  /* 스크롤바 막대 설정*/
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 높이 설정    */
    height: 5rem;
    background-color: color.$GRAY;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(226, 226, 226, 0);
  }
}

.questionWrapper::-webkit-scrollbar-track {
  background-color: none;
}

.muteButtonContainer {
  @include common.flexRow;
  column-gap: 1rem;
  max-width: 20rem;
  max-height: 8rem;
}

.muteButtonMuted {
  background-color: salmon;
  color: color.$SUBCOLOR;
  border: none;
  padding: 1.5rem;
  font-size: 18px;
  border-radius: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.muteButton {
  background-color: deepskyblue;
  color: color.$SUBCOLOR;
  border: none;
  padding: 1.5rem;
  font-size: 18px;
  border-radius: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.muteButton:hover {
  filter: brightness(80%);
}
